body {
 background-color: darkslategrey;
 display: flex;
 flex-direction: column;
 margin: 0;
 font-size: 1em;
 font-style: italic;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.author{
  display: flex;
  background-color: mediumspringgreen;
  justify-content: center;
  justify-items: center;
  width: 130px;
  height: 2em;
  align-items: center;
  margin: 20px auto;
  border-radius: 15px;
  color: cornflowerblue;

}

.welcome{
  display: flex;
  margin: auto;
  position: relative;
  color: aliceblue;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  
}

.inputName{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: blue;
}
.form{
  display: flex;
  flex-direction: column;
  
}
.form>input,button{
  text-align: center;
  margin: 5px auto;
  border-radius: 20px;
  border-style: hidden;
  border-color: white;
  
}

.inputName>form>button{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
  background-color: pink;
  border-color: pink;
  border-style: hidden;
  border-radius: 20px;
}
/*.button{
  position: relative;
  top: 30px;
  margin: auto;
  right: 90px;
}
*/